<?php

$database_config_file = "{{ database_config_file }}";
$application_name = "{{ tool_name }}";
$email_address = "{{ tool_name }}.contact@tools.wmflabs.org";
$clean_urls = true;
$db_name = "{{ database.db }}";
